<%# a av bar container with sign in and sign out  %>

<nav class="navbar">
    <div class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "bootyard.png", class: "navbar-image" %>
        <% end %>
        <h1 class="title"> MEMBERS
        <span>
<%= link_to "ONLY", root_path, style: "color: #db0303; text-decoration: none "%>        </span , root_path></h1>
        <%# link all posts  %>
        
            <h2><%= link_to "Posts", posts_path%></h2>
    </div>


    <div class="navbar-end">   <%# link all posts  %>
<div class="button-container">
     <%= link_to "HOME", root_path,class:"home_article" %>
      <%= link_to "NEW ", new_post_path,class:"new_article" %>
      </div>
        <%= render 'user/session_manager' %>
    </div>
</nav>
